<h1><%= @recipe.title %></h1>
<%= image_tag(@recipe.img, alt:'No image', class: 'img') %>
<br>
<br>
<p>
  <%= @recipe.description %>
  <br>
  <br>
  <%= @recipe.instructions %>

  <!-- Add Ingredients/Category data -->
  
</p>
